{% extends "base.html" %}
{% block content %}
   <div class="container-fluid text-center">
      	<div class="row">        	
         <div class="col">
         	<h2>Maintenance Issues</h2>
         	<p>Work that includes code cleanup, dependency updates, index issues, etc. The work that keeps the application
         	going</p>
            {% for item in maintenance_issues %}
            <div class="flip-card">
               <div class="flip-card-inner">
                  <div class="flip-card-front">
                     <h3>{{ item.fields.summary }}</h3>
                     <p>Status: {{ item.fields.status.name }}</p>
                     <p>Estimate: {{ item.fields.customfield_10106 }}</p>
                     <p>Assignee: {{ item.fields.assignee.name }}</p>
                  </div>
                  <div class="flip-card-back">
                     <p><a href>https://jira.wellspring.com/browse/{{ item.key }}</a></p>
                     <p>{{ item.fields.description }}</p>
                     <p>Labels: {{ item.fields.labels }}</p>
                  </div>
               </div>
            </div>
            {% endfor %}
         </div>

         <div class="col">
         	<h2>Client Work</h2>
         	<p>Work that includes bugs or easy client reqeusts. Small features that are beneficial for all cleints.</p>
            {% for item in client_issues %}
            <div class="flip-card">
               <div class="flip-card-inner">
                  <div class="flip-card-front">
                     <h3>{{ item.fields.summary }}</h3>
                     <p>Status: {{ item.fields.status.name }}</p>
                     <p>Estimate: {{ item.fields.customfield_10106 }}</p>
                     <p>Assignee: {{ item.fields.assignee.name }}</p>
                  </div>
                  <div class="flip-card-back">
                     <p><a href>https://jira.wellspring.com/browse/{{ item.key }}</a></p>
                     <p>{{ item.fields.description }}</p>
                     <p>Labels: {{ item.fields.labels }}</p>
                  </div>
               </div>
            </div>
            {% endfor %}
         </div>
 
         <div class="col">
         	<h2>Project Issues</h2>
         	<p>Project work. Ongoing work to match with business strategy and roadmap.</p>
            {% for item in project_issues %}
            <div class="flip-card">
               <div class="flip-card-inner">
                  <div class="flip-card-front">
                     <h3>{{ item.fields.summary }}</h3>
                     <p>Status: {{ item.fields.status.name }}</p>
                     <p>Estimate: {{ item.fields.customfield_10106 }}</p>
                     <p>Assignee: {{ item.fields.assignee.name }}</p>
                  </div>
                  <div class="flip-card-back">
                     <p><a href>https://jira.wellspring.com/browse/{{ item.key }}</a></p>
                     <p>{{ item.fields.description }}</p>
                     <p>Labels: {{ item.fields.labels }}</p>
                  </div>
               </div>
            </div>
            {% endfor %}
         </div>
         
      </div>
   </div>
{% endblock %}